.idea
.gradle
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
build
node_modules
gradle.properties
aws-credentials.json
terraform.output.json
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars.json
